
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>ALL</title>
<style>
table,th,td{
  border:1px solid;
}
tr:nth-child(even){background-color: #20d87c}
tr:hover {background-color: coral;}
th {
  background-color: #f7000c;
  color: white;
}
</style>
</head>
<body>
<h1>All</h1>
        <form action="/view-by-program" method="get">
    <select id="select1" name="program" >
    
        <option value="General Arts">General-Arts</option>
        <option value="Visual Arts">Visual-Arts</option>
        <option value="Home Economics">Home-Economics</option>
        <option value="Others">Others</option>
        <option value="Bussiness">Bussiness</option>
        <option value="Science">Science</option>
      </select>
      <input type="submit" value="view">
    </form>
       <div>  

<table>
  <tr>
  <th>ID</th>
  <th>FIRST NAME</th>
    <th>LAST NAME</th>
    <th>DATE OF BIRTH</th>
    <th>BECE AGGREGATE</th>   
    <th>PROGRAM</th>
    <th>PREVIOUS SCHOOL</th>
    <th>MOTHERS NAME</th>
    <th>MOTHER'S CONTACT</th>
     <th>FATHER'S NAME</th>
      <th>FATHER'S CONTACT</th>
  </tr>

</table>
</div>
</body>
</html>