<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Upload Certificate</title>
</head>
 <style>
        .container{
            border: solid yellow 2px;
            border-radius: 2px;
            height: 500px;
            width: 80%;
            display:block;
    margin-left: auto;
    margin-right: auto;
        }
        .upload{
            display:block;
    margin-left: auto;
    margin-right: auto;
}
.submit{
    background-color: rgba(86, 161, 109, 0.884);
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 40%;
    height: 40px;
}
    </style>
</head>
<body> 
<script type="text/javascript">
var message=false;
sessionStorage.setItem("Message",message)
</script>
    <div class="container">
    upload BECE Certificate
        <form action="/upload"method="post" enctype="multipart/form-data">
            <input class="upload" name="file" type="file">         
<input type="submit" class="submit" value="Upload File">       
        </form>
    </div>
</body>
</html>